.container {
	width:70vw;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    border: 3px solid green;
    margin:9% 15%;
}
h1{
 font-size: 6em;
 color: green;
 margin:0;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-size: 35px;
}

a:hover, a:active {
  background-color: green;
  color: white;
}

.ques_container{
	width:70vw;
	height: 70vh;
	justify-content: left;
	align-items: left;
	text-align: left;
    border: 3px solid green;
    margin:9% 15%;


}
.allques{
	 margin: 2px 10px;
}
.info{
	display: flex;
	width: 100%;
}
.textques{
float:left;
width: 50%;
font-size: 20px;
padding: 20px;

}

.textques p{
	margin: 0;
	padding-bottom: 5px;
	padding-left: 40px;
	font-weight: bold;
}

#progressBar{
	width: 10rem;
	height: 1rem;
	border: 0.2rem solid green;
	border-radius: 50px;
	overflow:hidden;
}
#progressBarFull{
	height: 100%;
	background-color: green;
	/*width:0%;*/
}
.textscore{
	width: 50%;
float:right;
font-size: 20px;
padding: 20px;
font-weight: bold;


}

.textscore p{
float:left;
margin:0;
padding-left: 220px;
padding-top: 5px;

}
.textscore h2{
display: flex;
float: right;
margin:0;
}



.questions{
	display: block;
	float: left;
	width: 100%;
}

 .questions h3{
	font-size: 1.7rem;
	margin:0;
}

.choices p {
/*  background-color: white;
*/  color: black;
  border: 2px solid green;
  padding: 5px 20px;
  text-align: left;
  display: block;
  border-radius: 50px;
  font-weight: bold;
 
}

.choices p:hover, .choices p:active {
  /*background-color: #BEC903;*/
  color: #BEC903;
}

.scoreAchievers {
	font-size :1.5rem;
	list-style-type: none;
}

.correct{
	background-color: green;
	  border-radius: 50px;


}

.incorrect{
	background-color: red;
	border-radius: 50px;
}